/* reset */

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
}