@charset "UTF-8";

/* reset */

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
}

body {
  font-family: serif;
}

.eng {
  font-family: 'Italianno', cursive;
}

/* layout */

/* HEADER */

/* banner */

.banner-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {

  .banner-wrapper {
    display: block;
  }

}

.page-header {
  /* width: 100%; */
  height: 100vh;
}

.page-header p {
  width: 100%;
  height: 100vh;
}

.header-bg {
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -10;
}

.header-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: fixed;
  top: 0;
  
}

h1 a {
  width: 300px;
  margin: 0 auto;
  padding: 80px 0 60px;
  display: block;
}

h1 img {
  max-width: 300px;
}

@media screen and (min-width: 768px) {

  .page-header {
    height: auto;
  }

  header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 700;
    animation: slide-up 8s linear forwards;
    background: none;
  }

  .header-bg {
    display: none;
  }

  h1 a {
    width: 240px;
    margin: 0 auto;
    padding: 28px 0 0;
    text-align: center;
  }

  .banner-tape {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    animation: slide-up 8s linear forwards;
    z-index: 699;
  }

  .st0 {
    fill:#FFFFFF;
  }
          
  .st1 {
    fill:url(#SVGID_1_);
    animation: banner-bg 6s forwards;
  }
          
  .st2 {
    fill:none;
    stroke:#702e66;
    stroke-width:3;
    stroke-miterlimit:10;
    stroke-dasharray: 2100px;
    stroke-dashoffset: 2100px;
    animation: banner-line 4s linear forwards;
  }

  #flower {
    animation: banner-flower 7s forwards;
  }

  .title-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    z-index: -100;
    animation: title-bg 10s linear forwards;
  }

  @keyframes slide-up {
    0% {top: calc(50vh - 75px);}
    80% {top: calc(50vh - 75px);}
    100% {top: 0;}
  }

  @keyframes slide-up-nav {
    0% {top: calc(50vh + 6px);}
    80% {top: calc(50vh + 6px);}
    100% {top: 81px;}
  }

  @keyframes title-bg {
    0% {opacity: 1; z-index: 696}
    85% {opacity: 1; z-index: 696}
    95% {opacity: 0; z-index: 696}
    100% {opacity: 0; z-index: -100;}
  }

  @keyframes banner-line {
    0% {stroke-dashoffset: 2100px;}
    100% {stroke-dashoffset: 0;}
  }

  @keyframes banner-bg {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes banner-flower {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
  }

}

/* navigation */

.gnav {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.gnav li {
  width: 80%;
  margin: 0 auto;
  
}

.gnav a {
  padding: 18px 0 14px;
  display: block;
  font-size: 1.6em;
  color: #702e66;
}

.gnav li:nth-child(n + 2) {
  border-top: 2px solid #702e66;
}

.nav-right li:first-child {
  border-top: 2px solid #702e66;
}


@media screen and (min-width: 768px) {

  .gnav .nav-left {
    position: fixed;
    top: 81px;
    right: calc(100vw / 2 + 140px);
    animation: slide-up-nav 8s linear forwards;
  }

  .gnav .nav-right {
    position: fixed;
    top: 81px;
    left: calc(100vw / 2 + 140px);
    animation: slide-up-nav 8s linear forwards;
  }

  .gnav ul {
    display: flex;
  }
  
  .gnav li {
    padding: 0;
  }

  .gnav li:nth-child(n + 2) {
    border-top: 0;
  }

  .nav-right li:first-child {
    border-top: 0;
  }

  .gnav a {
    padding: 0 14px;
    font-size: 1.6em;
    color: #fff;
  }

  .gnav a:hover {
    background:linear-gradient(rgba(0, 0, 0, 0.0) 45%, rgba(112, 46, 102, 0.5) 45%, rgba(112, 46, 102, 0.5) 100%);
  }

}

/* sp drawer */

.header-sp {
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #667f4f;
  z-index: 700;
}

.header-sp-logo {
  height: 60px;
  margin: 15px 20px 15px 0;
}

/* hamburger button */
#header-sp-btn {
  width: 50px;
  height: 50px;
  margin: 20px 0 20px 20px;
  border: 1px solid #fff;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

#header-sp-btn span {
  display: block;
  width: 35px;
  height: 5px;
  background:#fff;
  position: absolute;
  top: -15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.2s;
}

#header-sp-btn span::after {
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: -13px;
  right: 0;
  margin: auto;
  transition: 0.2s;
}

#header-sp-btn.nav-click span {
  top: 0;
  transform: rotate(45deg);
}

#header-sp-btn.nav-click span::after {
  width: 35px;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.gnav-drawer {
  width: 80%;
  height: calc(100vh - 90px);
  padding-top: 100px;
  background: #7f9d62;
  text-align: center;
  position: fixed;
  top: 90px;
  left: -100%;
  transition: 0.4s;
  z-index: 700;
}

.gnav-drawer.nav-click {
  left: 0;
}

.nav-drawer li {
  width: 70%;
  margin: 0 auto;
}

.nav-drawer li:nth-child(n + 2) {
  border-top: 1px solid #fff;
}

.nav-drawer a {
  line-height: 60px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 1.6em;
  color: #fff;
}

.gnav-drawer-bg.nav-click {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  transition: 0.4s;
  z-index: 650;
}

@media screen and (min-width: 768px) {

  .header-sp, .gnav-drawer {
    display: none;
  }

}
