header {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
  background: url(../img/main_visual@2x.jpg)no-repeat center center/cover;

  h1 {
    padding: 0 100px;
    line-height: 1.8;
    

    span {
      padding: 8px;
      color: #fff;
      background-color: #000;
    }
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  & p:nth-of-type(2) {
    position: absolute;
    right: 20px;
    bottom: 20px;

    a {
      width: 180px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.4;
      font-size: 1.6em;
      font-weight: bold;
      text-align: center;
      color: #008ed5;
      border-radius: 50%;
      border: 6px solid #008ed5;
      background: #fff;
      box-sizing: border-box;

      &:hover {
        background: #008ed5;
        color: #fff;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  

  ul {
    width: 85%;
    padding-left: 100px;
    display: flex;
    background: #008ed5;
    
    li {
      margin-right: 40px;

      a {
        display: block;
        line-height: 80px;
        color: #fff;

        &:hover {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  p {
    width: 15%;

    a {
      display: block;
      line-height: 80px;
      text-align: center;
      color: #fff;
      background: #a9d92f;

      &:hover {
        background: rgba(169, 217, 47, 0.6);
      }
    }
  }
}